@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fuggles&family=Poppins:wght@300;400;500;600&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  background: #ebebeb;
  font-family: "Fuggles", cursive;
  font-family: "Poppins", sans-serif;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  transition: all 0.1s ease-out;
}

body {
  margin: 0;
  overflow-x: hidden;
}

main {
  /*
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(78, 31, 92, 0.1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
*/
  margin: 0px;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:visited,
a:link {
  color: black;
}

.success-color {
  color: rgba(47, 167, 0, 0.973);
}

.neutral-color {
  color: rgba(15, 15, 15, 0.507);
}

/* HEADER & HEADER COMPONENTS */
header {
  display: block;
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgb(140, 37, 172);
  background-color: #3483fa;
  padding: 0;
  height: 5rem;
}

.main-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

.menu-toggle {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 1.25rem;
  height: 1.0625rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: width 150ms linear 0.2s;
  background-color: rgba(251, 251, 251, 0.2);
  padding: 6px;
  border-radius: 2px;
  box-sizing: content-box;
}

.menu-toggle-mask {
  display: inline-flex;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: space-between;
  width: 1.25rem;
  height: 1.0625rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: width 150ms linear 0.2s;
  background-color: rgba(251, 251, 251, 0.2);
  padding: 6px;
  border-radius: 2px;
  box-sizing: content-box;
}
.menu-toggler-bar {
  width: 100%;
  height: 0.1875rem;
  background-color: rgb(255, 247, 0);
  background-color: white;
}

.menu-toggler-bar-mid {
  width: 50%;
  height: 0.1875rem;
  background-color: rgb(255, 247, 0);
  background-color: white;
}

.menu-toggle:hover .menu-toggler-bar-mid {
  width: 100%;
}

.menu-toggler-bar-mid {
  transition: width 150ms linear 0.2s;
}
.search-container {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 2rem;
  padding: 0 0.2rem 0 1rem;
  background-color: white;
  border-radius: 100px;
}

.search-container input {
  width: 88%;
  height: 2rem;
  padding: 0 0.5rem;
  outline: none;
  border: none;
  border-right: 1px solid rgba(51, 51, 51, 0.1);
}

.search-button {
  width: 12%;
  height: auto;
}

.search-button img {
  width: 28px;
  height: auto;
}

.logo {
  height: 5rem;
}

.logo a {
  font-size: 56px;
  color: rgb(255, 247, 0);
  color: white;
  text-decoration: none;
  line-height: 5rem;
  font-family: "Anton", sans-serif;
  font-weight: 500;
}

/* NAV BAR */
.navbar {
  display: block;
  margin: 0px;
  width: 100%;
  color: white;
}

.navbar-menu {
  display: flex;
  background-color: rgb(140, 37, 172);
  background-color: #3483fa;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 0 20px;
  position: relative;
  background-color: rgb(140, 37, 172);
  background-color: #3483fa;
}

nav ul li:hover {
  background-color: #b3d2ff78;
}
nav ul li a,
.categories-link {
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 10px 0;
}

.categories-link {
  cursor: pointer;
}

.arrow-down {
  margin-left: 6px;
}
nav ul li a:visited {
  color: white;
}

nav ul li a:link {
  color: white;
}
/*
nav ul li:hover .children {
  display: block;
}
*/
.display-block {
  display: block;
}

.display-none {
  display: none;
}

.children {
  z-index: 101;
  position: absolute;
  width: 150%;
  background-color: #3483fa;
  padding: 0;
}

nav ul li .children li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(195, 0, 255, 0.5);
  background-color: #3483fa;
}

nav ul li .children li:hover {
  background-color: rgba(195, 0, 255);
  background-color: #b3d2ff78;
}

nav ul li .children li a {
  color: white;
  display: block;
}

nav ul li .children li a:visited {
  color: white;
}

nav ul li .children li a:link {
  color: white;
}

.adm-panel-link-a {
  color: rgb(255, 232, 27);
}

.adm-panel-link-a:link {
  color: rgb(255, 232, 27);
}

.adm-panel-link-a:visited {
  color: rgb(255, 232, 27);
}
/* USER MENU */

.profile-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.user-start-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.2rem;
  padding: 0.5rem;
}

.user-start-menu a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.user-star-menu a i {
  transition: all 300ms ease-in;
}

.user-start-menu a:hover i {
  transform: scale(1.2);
}

.user-start-menu a span {
  border-right: 2px solid #fff;
  padding-right: 0.2rem;
}

.signup-image {
  padding-left: 0.1rem;
  color: white;
}

.login-image {
  color: white;
}

.profile-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

.profile-image-container a {
  display: inline-block;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  color: white;
  font-weight: 600;
}

/* USER PROFILE MENU*/

.user-profile-menu {
  display: flex;
  height: 5rem;
  align-items: baseline;
  position: relative;
  gap: 0.7rem;
}

#cart-link {
  cursor: pointer;
}

#cart-icon {
  color: rgb(255, 232, 27);
  color: white;
}

#profile-image {
  font-size: 36px;
  color: #fff;
  width: 50px;
  height: auto;
  line-height: 5rem;
  align-self: center;
}

.profile-menu {
  display: none;
  position: absolute;
  top: 5rem;
  right: 0px;
  width: 160px;
  margin: 0px;
  padding: 0px;
  background-color: #3483fa;
  cursor: pointer;
  list-style: none;
}

.profile-menu-container {
  height: 100%;
}

.profile-menu-container:hover .profile-menu {
  display: block;
}

.profile-menu > li {
  margin: 0;
  background-color: #3483fa;
  color: white;
  padding: 8px;
  line-height: 25px;
  font-size: 13px;
  text-decoration: none;
  transition: all 100ms ease-in;
}

.profile-menu li a:link {
  color: white;
}

.profile-menu li a:visited {
  color: white;
}
.profile-menu > li:hover {
  font-size: 20px;
}

.display-toggle {
  display: none;
}

.display-block {
  display: block;
}
/* SLIDER ESTILOS GRALES */

.big-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 6rem 0 2rem 0;
  white-space: nowrap;
  position: relative;
  background: #ebebeb;
  /*
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(78, 31, 92, 0.1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  */
}

.big-container:before,
.big-container:after {
  position: absolute;
  top: 0;
  width: 200px;
  height: calc(100% - 2rem);
  content: "";
  z-index: 2;
}

.big-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.big-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.big-container:hover .slider-container {
  animation-play-state: paused;
}

.slider-container {
  display: flex;
  flex-direction: row;
  animation: 40s slide infinite linear;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* SLIDER DE OFERTAS */

.offer-slide {
  display: flex;
  height: 150px;
  margin: 5px 30px;
  border-radius: 30px;
}

.offer-data-container {
  display: flex;
  width: 230px;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  padding: 40px 20px;
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.offer-title {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 3px;
  color: #4b4b4b;
  font-weight: 600;
}

.offer-msj {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #4b4b4b;
}

.offer-btn {
  font-size: 14px;
  font-family: "Fuggles", cursive;
  font-family: "Poppins", sans-serif;
  height: 36px;
  line-height: 1px;
  min-width: 125px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 7px;
  font-weight: 600;
  padding: 15px 10px;
  background-color: #3483fa;
  border-color: transparent;
  color: #fff;
  box-shadow: 0 0 0 0 #fff;
  cursor: pointer;
}

.offer-img-container {
  width: 150px;
  margin: 0 auto;
  padding: 0 1rem 0.5rem 1rem;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.offer-product-img {
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  mix-blend-mode: darken;
  justify-content: center;
  height: 155px;
  width: 150px;
}
/* CATEGORIES*/
.categories-container {
  padding-top: 9rem;
}

.categories-title {
  width: 100vw;
  position: absolute;
  top: 8rem;
  padding-left: 4rem;
}

/*FAVS*/
.favs-big-container {
  padding-top: 9rem;
}

.favs-container {
  padding-top: 9rem;
}

.favorites-title {
  width: 100vw;
  position: absolute;
  top: 8rem;
  padding-left: 4rem;
}

/* PRODUCTS CARDS */
.grid-fluid {
  margin: 0 auto;
  padding-top: 3rem;
  max-width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 280px));
}

.home-title {
  width: 100vw;
  position: absolute;
  top: 17rem;
  padding-left: 4rem;
}

.image-container {
  margin: 0 auto;
  padding: 0 1rem 0.5rem 1rem;
}

.product-card-img {
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  justify-content: center;
  height: 220px;
  width: 220px;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem 0 0 0;
  width: 80%;
  background-color: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.product-card p {
  display: flex;
  justify-content: space-between;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid rgba(51, 51, 51, 0.1);
  padding: 16px 0 0 0;
}

.product-name {
  line-height: 1.3;
  margin: 0;
  padding: 0 16px;
  max-height: 2.4em;
  height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: anywhere;
}

.product-price {
  font-size: 20px;
  padding: 0 16px;
}

.product-card a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.button-panel {
  display: flex;
  border-top: 1px solid rgba(51, 51, 51, 0.3);
}

.button-panel button {
  display: flex;
  background: inherit;
  justify-content: center;
  border: none;
  width: 50%;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 0px;
}

.button-panel button:hover {
  background-color: rgba(236, 205, 247, 0.8);
}

button i {
  width: 100%;
  padding: 12px 0;
  margin: 0;
}

i[id*="icon"] {
  border-right: 1px solid rgba(51, 51, 51, 0.3);
}

/* REGISTRARSE */

.signup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(78, 31, 92, 0.2);
  background: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.signup-container .input-box {
  position: relative;
}

.signup-container .input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #3483fa;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #3483fa;
  outline: none;
  background: transparent;
}

.signup-container .input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #3483fa;
  pointer-events: none;
  transition: 0.5s;
}

.signup-container .input-box input:focus ~ label,
.signup-container .input-box input:valid ~ label {
  top: -18px;
  left: 0;
  color: #b3d2ff78;
  font-size: 12px;
}

.submit-box {
  text-align: center;
}

/*
.signup-container input[type="submit"] {
  width: 50%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(140, 37, 172);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
}

/* INICIAR SESION */

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 40px;
  background: rgba(78, 31, 92, 0.2);
  background: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.login-container .input-box {
  position: relative;
}
.login-container .input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #3483fa;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #3483fa;
  outline: none;
  background: transparent;
}

.login-container .input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #3483fa;
  pointer-events: none;
  transition: 0.5s;
}

.login-container .input-box input:focus ~ label,
.login-container .input-box input:valid ~ label {
  top: -18px;
  left: 0;
  color: #b3d2ff78;
  font-size: 12px;
}
/*
.submit-box {
  text-align: center;
}

.login-container input[type="submit"] {
  width: 50%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(140, 37, 172);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
}  
*/
/* CARRITO */

.cart-container {
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding-top: 7rem;
  grid-template-columns: repeat(auto-fit, minmax(60%, 100%));
  gap: 0.1rem;
  justify-content: space-between;
}

.cart-product {
  display: flex;
  flex-direction: row;
  background-color: rgba(78, 31, 92, 0.2);
  background-color: white;
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  justify-content: stretch;
  align-items: center;
  overflow: hidden;
}

.img-container {
  width: 15%;
  padding: 15px;
  overflow: hidden;
}

.cart-product-img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.title-container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50%;
}

.info-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 35%;
  justify-content: space-between;
}

.cart-buttons-panel {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 40%;
  height: 100%;
}

.quantity-buttons-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
  align-items: flex-end;
}

.decrement-button,
.increment-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  list-style: none;
}

.quantity {
  padding: 0.5rem;
  padding-bottom: 2px;
}

.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  width: 60%;
}

.price {
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.del-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  color: white;
  cursor: pointer;
}

.fa-trash {
  cursor: pointer;
}
/* Footer carrito*/

.cart-footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20vh;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.total-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.buy-button {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  width: 250px;
  height: 48px;
  background-color: #3483fa;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}

.buy-button:visited {
  color: white;
}

.buy-button:link {
  color: white;
}

/* PRODUCT */

.product-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  padding: 0px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.product-content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 80%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.product-title-container {
  grid-row: 1 / 2;
  grid-column: 1/3;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
}

.product-title-prod {
  font-size: 25px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.product-img-container {
  margin: 0 auto;
  padding: 2rem;
}

.product-img {
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: contain;
  justify-content: center;
  height: 220px;
  width: 220px;
}

.product-data-container {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-price-container {
  padding: 1rem 1rem 0 1rem;
}

.prod-price {
  font-size: 25px;
}

.product-description-container {
  padding: 0 1rem;
}

.product-description-container p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.add-cart-btn-container {
  padding: 0 1rem;
}

.add-cart-btn {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  width: 20vw;
  font-family: "Fuggles", cursive;
  font-family: "Poppins", sans-serif;
  height: 48px;
  background-color: #3483fa;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  border: 0;
}

/* VENTANA MODAL */
.modal-section {
  display: none;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
}

.active {
  display: block;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.modal-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 30px 30px 40px 30px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 1;
}

.modal-box i {
  font-size: 50px;
  color: #3483fa;
  margin-top: 1rem;
}

.modal-box h2 {
  text-align: center;
}
.modal-btn-panel {
  display: flex;
  gap: 0.5rem;
}

.modal-box button {
  text-align: center;
  line-height: 48px;
  width: 150px;
  font-family: "Fuggles", cursive;
  font-family: "Poppins", sans-serif;
  height: 48px;
  background-color: #3483fa;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  border: 0;
}

.modal-box a {
  text-align: center;
  line-height: 48px;
  width: 150px;
  font-family: "Fuggles", cursive;
  font-family: "Poppins", sans-serif;
  font-size: 13.3px;
  height: 48px;
  background-color: #3483fa;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  border: 0;
}

/* ADMIN PANEL*/
.adm-panel-container {
  padding-top: 7rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  justify-content: center;
  gap: 0.5rem;
}
.adm-panel-container textarea {
  min-width: 300px;
  resize: none;
}

.add-prod-input {
  height: 30px;
  border-radius: 5px;
}
.adm-panel-btn {
  text-align: center;
  line-height: 48px;
  width: 200px;
  margin: 0 auto;
  font-family: "Fuggles", cursive;
  font-family: "Poppins", sans-serif;
  height: 48px;
  background-color: #3483fa;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  border: 0;
}
#add-new-product {
  margin-bottom: 3rem;
}

/* INFORMACION */
.info-view-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  gap: 1rem;
  padding-top: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redes-sociales {
  display: flex;
  width: 200px;
  padding-top: 1rem;
  justify-content: space-between;
}

.redes-sociales i {
  font-size: 40px;
  cursor: pointer;
  color: #3483fa;
}

.info-list {
  padding: 0;
}
.info-list li {
  list-style: none;
}

.bold {
  font-weight: bold;
}

/* MEDIA QUERIES */

@media (max-width: 680px) {
  .add-cart-btn {
    font-size: 12px;
  }

  .cart-container {
    width: 90%;
  }

  .img-container {
    width: 20%;
  }
  .title-container {
    width: 40%;
  }
  .info-container {
    width: 40%;
  }
  .price-container {
    width: 40%;
    justify-content: center;
  }

  .offer-product-img {
    width: 140px;
    height: 140px;
  }

  .offer-title {
    font-size: 8px;
    letter-spacing: 2px;
  }

  .offer-msj {
    font-size: 11px;
  }

  .offer-btn {
    font-size: 14px;
    height: 36px;
    line-height: 1px;
    min-width: 125px;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 4px;
    font-weight: 600;
    padding: 15px 10px;
    background-color: #3483fa;
    border-color: transparent;
    color: #fff;
    box-shadow: 0 0 0 0 #fff;
    cursor: pointer;
  }

  /* SLIDER STYLES*/
  .big-container:before,
  .big-container:after {
    display: none;
  }

  .offer-slide {
    height: 150px;
  }

  .offer-data-container {
    width: 175px;
  }

  .offer-img-container {
    width: 100px;
  }
}

@media (max-width: 590px) {
  .product-container {
    margin-top: 9rem;
    width: 70vw;
  }

  .product-content {
    grid-template-columns: minmax(280px, 1fr);
    grid-template-rows: 20% 40% 40%;
  }

  .product-title-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .product-img-container {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .product-data-container {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .product-price-container {
    order: 2;
    margin: 0 auto;
  }

  .product-description-container {
    padding-top: 2rem;
    order: 1;
  }

  .add-cart-btn-container {
    padding-top: 2rem;
    order: 3;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
  .add-cart-btn {
    min-width: 190px;
  }

  /* MODAL QUERY STYLES */
  .modal-box {
    margin-top: 3.5rem;
    max-width: 300px;
  }

  .modal-btn-panel {
    flex-direction: column;
  }
}
@media (max-width: 470px) {
  /* ESTILOS DE HOME*/

  .home-title {
    padding: 0 1rem;
  }

  /* ESTILOS DE PRODUCTO*/

  .product-content {
    display: flex;
    flex-direction: column;
  }

  .add-cart-btn {
    min-width: 180px;
  }

  .cart-container {
    width: 95%;
  }

  .img-container {
    width: 25%;
  }
  .title-container {
    width: 50%;
  }

  .product-title {
    font-size: 14px;
  }
  .info-container {
    flex-direction: column-reverse;
    width: 25%;
    padding-right: 5px;
  }
  .price-container {
    width: 100%;
    height: 50%;
    text-align: center;
    padding-right: 0px;
  }

  .cart-buttons-panel {
    height: 50%;
    width: 100%;
  }

  .del-button-container {
    width: 100%;
  }

  .del-button {
    width: 100%;
  }

  /* ESTILOS DE NAVBAR */

  .navbar ul {
    width: auto;
    flex-direction: column;
  }

  nav ul li {
    display: block;
    border-top: 1px solid white;
    padding: 0;
  }
  nav ul li a {
    display: block;
    padding: 10px;
  }

  nav ul li:hover .children {
    display: block;
  }

  nav ul li .children {
    width: 100%;
    position: relative;
  }

  nav ul li .children li {
    width: 100%;
  }

  nav ul li .children li a {
    padding-left: 20px;
  }
}

.display-toggle {
  display: none;
}
